body {
	background: 
		linear-gradient(to bottom,orange,green);
		font-family: Calibri;
}

h1 {
	font-weight: bold;
}

h2 {
	font-style: italic;
}


#Home {
	border: inset #53D900;
background:	
	linear-gradient(to bottom,yellow,pink);
	no-repeat bottom;	
}

#About { 
	border: groove #c9c200;
background:	
	linear-gradient(to bottom,purple,brown);
	no-repeat bottom;
}

#HowTo {
	border: outset #25cec0;

background:
	
	linear-gradient(to bottom,red,black);
	
	no-repeat bottom;
}

font-family: Comis Sans MS;

